@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
}

;
/* You can add global styles to this file, and also import other style files */

$background-color-gradient: linear-gradient(to right, #e6e6e6, #f1f1f1);

.nb-theme-default nb-layout-header nav {
  background: $background-color-gradient  !important;
  box-shadow: none !important;
}

.nb-theme-default nb-layout .layout {
  background: $background-color-gradient  !important;
}

.addContactDialog {

  nb-dialog-container {
    max-width: 50vw !important;
  }
} 

@media only screen and (max-width: 400px) {
  .addContactDialog {

    nb-dialog-container {
      max-width: 100vw !important;
      height: 100vh !important;
    }
  }
}

@media only screen and (max-width: 600px) {
  .addContactDialog {

    nb-dialog-container {
      max-width: 80vw !important;
      height: 80vh !important;
    }
  }
}